/* 
    Document   : hdicon
    Created on : Jun 6, 2013, 9:07:00 AM
    Author     : jason <caiyj@huadong.net>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

